{% extends "base.html" %}
{% load i18n %}

{%block page_title%}
    Home

{%endblock page_title%}



{%block content%}

    <div class=" ">
    
        <div class="mx-auto flex flex-col items-center bg-orange-900 overflow-auto " >
        {% for room in rooms %}
            {%include "mixins/room_card.html" with room=room %}
        {%endfor%}
        </div>

        <div class="flex items-center justify-center mx-auto container">
            
            {% if page_obj.has_previous %}
                <a href ="?page={{page_obj.previous_page_number}}" class="text-blue-500">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>

            {% endif %}
            
            <span class="mx-3 font-medium text-lg">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

            
            {% if page_obj.has_next  %}
                <a href ="?page={{page_obj.next_page_number}}" class="text-blue-500">
                    <i class="fas fa-arrow-right fa-lg"></i>
                </a>

            {% endif %}
            
        </div>

    </div>
{%endblock content%}